.main-container {
    max-width: 1024px;
    margin: 0 auto; 
    width: 100%; 
}

body {
    font-family: sans-serif;
}

.container {
    font-family: sans-serif;
    width: 100%;
    max-width: 1440px;  
    margin: 0 auto; 
    align-content: center;
    justify-content: center;
}

.head {
    display: flex;
    justify-content: space-between;
}

.subtitles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 10%;
    height: 100%;
}

.item1, .item2 {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.details {
    width: 90%;
    align-items: center;
    justify-content: space-between;
}

.quantity {
    display: flex;
}

.sub {
    width: 60%;
    font-size: small;
    color: rgba(0, 0, 0, 0.521);
    justify-content: space-between;
    align-items: center;
}

.sub p {
    margin: 0;
    padding: 0; 
}

.sub select {
    border-color: white;
    background-color: white;
    margin-left: 5px;
    padding: 0; 
}

.final {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 3rem;
    font-size: large;  
}

a {
    text-decoration: none;
    color: black;
}

button {
    top: 100%;
    padding: 0.5rem 7rem;
    color: black;
    background-color: white;
    border: 2px solid black;
}

.footer {
    color: rgba(0, 0, 0, 0.508);
    text-align: center;
}

.footer .foot {
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
}

@media (min-width: 768px) {
    .head {
        justify-content: space-between;
        margin-bottom: 3.5rem;
    }
    .container{
        max-width: 1024px;
    }
    .details {
        display: flex;
    }
    .item1, .item2 {
        display: flex;
    }
    .sub {
        display: flex;
    }
    .main {
        display: flex;
        flex-direction: column;
    }
    .final {
        display: flex;
        justify-content: flex-end;
    }
}


