body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh; 
    /* background-color: #f4f4f4;  */
}

.page-wrapper {
    max-width: 1024px; 
    width: 100%; 
    margin: 0 auto;
}

.container {
    /* padding: 20px; */
    text-align: center;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 0.5rem 4rem 0.5rem;
}
.head h1, .head p {
    margin: 0;
}
.heading{
    font-size: large;
}
.subheading{
    color:rgba(0, 0, 0, 0.511);
    font-size: 75%;
    /* padding-top: 0.2rem; */
}

.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.info, .payment {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.entryarea {
    position: relative;
    margin-bottom: 20px;
}

.state {
    display: flex;
    gap: 10px;
}

.state .entryarea {
    flex: 1; 
}

input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
    background: none;
    outline: none;
    font-size: 16px;
}

.line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: white;
    pointer-events: none; 
}

.labelline {
    position: absolute;
    left: 0;
    bottom: 10px; 
    font-size: 16px;
    color: gray;
    transition: all 0.3s ease; 
    pointer-events: none; 
}

input:focus + .labelline {
    transform: translateY(-30px);
    font-size: 12px;
    color: rgb(53, 51, 51); 
}

.item1{
    display: flex; 
    justify-content: space-between;
    font-size: 80%;
}

.expiry {
    display: flex;
    gap: 10px;
}

.expiry select, .country {
    flex: 1; 
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid white;
    background: none;
    outline: none;
    font-size: 16px;
}

.placeorder {
    color: white;
    display: flex;
    bottom: 0;
    padding: 0.8rem 7.2rem;
    text-align: center;
    background-color: black;
    cursor: pointer;
    margin-top: 1.5rem;
    position: fixed;
    justify-content: center;
    left: 0;
    right: 0;
     
}

.menu-items {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    height: 100vh;
    width: 70%;
    z-index: 1;
    row-gap: 1.5rem;
    position: fixed;
    top: 0;
    padding-top: 3rem;
}

.menu-icon {
    cursor: pointer;
}

.option a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
}

.billing-address .entryarea {
    margin-bottom: 15px; 
}

select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid white;
    border-radius: 4px;
}

.footer {
    visibility: hidden;
    
}

.foot {
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
}
#billingCheckbox{
    border: 2px solid green;
    margin-left: -7.5rem;
}
label{
    margin-left: -6rem;
}
.checkbox {
    /* border: 2px solid red; */
    display: flex;
    font-size: smaller;
    /* justify-content: flex-start; */
    /* display: flex;
    flex-direction: row-reverse;
    /* align-items: center; */
    /* justify-content: fl; */
    /* left=0;
    justify-content: flex-start; */ 
}


@media (min-width: 768px) {
    .menu-icon {
        visibility: hidden;
    }

    .main {
        flex-direction: row;
    }

    .info, .payment {
        flex: 1;
        margin: 0 10px;
    }

    .head {
        max-width: 1024px;
    }
    .placeorder{
        /* align-items: flex-start; */
        position: relative;
        padding: 0.3rem 0;
        justify-content: flex-start;
        font-size: 90%;
        background-color: white;
        color: black;
        border: 2px solid black;
    }
    
    .summary-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .footer{
        visibility: visible;
    }
    
    
}
